<h1 id="tableLabel">Players</h1>

<p *ngIf="!games"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="games">
  <tbody>
    <tr *ngFor="let game of games">
      <td>{{ game.id }}</td>
      <td>{{ game.name }}</td>
      <td><button (click)="removeGame(game)">RemoveGame</button></td>
    </tr>
    <tr>
      <td>0</td>
      <td><input type="text" [(ngModel)]="name"></td>
      <td> <button (click)="addGame()">Add game</button></td>
    </tr>
  </tbody>
</table>

<label>
  Name:
  
 
</label>

