/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */

mat-sidenav {
  width: 200px;
}

.playerdrawer {
  width: 361px;
}

.example-spacer {
  flex: 1 1 auto;
}

html, body, mat-drawer-container {
  height: 100%;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


nav .SidebarHeader a {
  color: #cbd4db
}

nav a {
  color: #cbd4db;
}


/*Topbar*/

.Topbar {
  align-items: center;
  background: #fff;
  box-shadow: 0 1px 4px 0 rgba(21,27,38,.08);
  display: flex;
  flex-shrink: 0;
  height: 60px;
  padding: 0 24px;
  position: relative;
  z-index: 200;
}

.Topbar-Title {
  display: inline-flex;
  flex: 1 1 auto;
  min-width: 1px;
}

.Topbar-Tools {
  align-items: center;
  background-color: #fff;
  display: flex;
}


.example-list {
  min-height: 60px;
  border-radius: 4px;
  overflow: hidden;
  display: block;
}

.example-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.smallPadding {
  padding: 20px 10px;
}
